:root {
  --angle: "" ;
  --final: "";
}

body {
  margin: 0;
  padding: 0;
}

.videoBg{
  overflow: hidden;
  background-size: contain;
}
.video{
  position: absolute;
  /* top: -300px; */
  left: 0px;
  top: -150px;
}

.camera {
  width: 100%;
  height: 100vh;
  background-color: black;
  perspective: 800px;
  perspective-origin: center center;
  position: absolute;
}
.icon {
  background-image: url(https://trello-attachments.s3.amazonaws.com/5ceb8c5d12d1522c0ef32fcb/40x40/c7137fc299d108e8892f630d402d92d2/icon-for-six-side.gif);
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;

  position: relative;
  margin: auto;
  z-index: 2;
  top: 440px;
  left: -145px; 
}
.space {
  width: 600px;
  height: 600px;
  position: relative;
/*   border: 1px dashed #fff; */
  transform-style: preserve-3d;
  transform-origin: center center;
  margin: auto;
  /* animation: HorizontalRotate 6s linear infinite; */
  transition-property: transform;
}

.transition {
  transition: transform 1s linear;
}

.rotate-a-1 {
  transform:  rotateX(-180deg) rotateY(-180deg) rotateZ(180deg);
}

.rotate-a {
  transform:  rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}

.rotate-reverse-a-1 {
  transform:  rotateX(-180deg) rotateY(-180deg) rotateZ(180deg);
}

.rotate-reverse-a {
  transform:  rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}

.rotate-b {
  transform:  rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
}

.rotate-c {
  transform: rotateX(-90deg) rotateY(0deg) rotateZ(90deg);
}

.rotate-d {
  transform: rotateX(-180deg) rotateY(0deg) rotateZ(90deg);
}

.rotate-e {
  transform: rotateX(-180deg) rotateY(-90deg) rotateZ(90deg);
}

.rotate-f {
  transform: rotateX(-180deg) rotateY(-90deg) rotateZ(180deg);
}

.space div {
  backface-visibility: hidden;
  position: absolute;
  width: 300px;
  height: 300px;
  font-size: 50px;
  text-align: center;
  line-height: 300px;
  color: black;
  font-size: 120px;
}

.box1 {
  transform:translateX(150px) translateY(150px) translateZ(150px);
}

.box2 {
   transform-origin: left top;
   transform: translate(450px) translateY(150px) translateZ(150px) rotateY(90deg);
   background-image: url('../image/assets_300250_1.png');
}

.box3 {
  transform: translateX(150px) translateY(150px) translateZ(-150px) rotateY(180deg) rotateZ(270deg);
  background-image: url('../image/assets_300250_1.png');
  
}

.box4 {
  transform-origin: right top;
  transform: translateX(-150px) translateY(150px) translateZ(-150px) rotateY(-90deg) rotateZ(-90deg);
  background-image: url('../image/assets_300250_1.png')
}

.box5 {
  transform-origin: bottom center;
  transform: translateX(150px) translateY(-150px) translateZ(150px) rotateX(90deg) ;
  background-image: url('../image/assets_300250_1.png');
}

.box6 {
  transform-origin: top center;
  transform: translateX(300px) translateY(450px) translateZ(0px) rotateX(-90deg) rotateZ(-270deg);
  background-image: url('../image/assets_300250_1.png')
}

.buttons{
  width: 230px;
  margin: auto;
  position: relative;
  bottom: 30px;
}

button {
  width: 100px;
  height: 30px;
  background-color: white;
  border-radius: 5px;
  outline: none;
}

.rotateStop {
  animation-play-state: paused;
}

.rotateStart {
  animation-play-state: running;
}

