body {
  margin: 0;
  padding: 0;
}

.videoBg{
  overflow: hidden;
  background-size: contain;
}

.video{
  width: 100%; 
  height: 100%; 
  overflow: hidden;
}


#tenmax-video-player.video_container video{
  width: 100% !important;
  height: 100% !important;
}

#box{
  /* transform: translate3d(0px, 0px, -150px); */
  transform-style: preserve-3d;
  position: relative;
}


.camera {
  position: relative;
  perspective: 1000px;
}

#safe-area {
  text-align: center;
  left: 0;
  position: absolute;
  right: 0;
  margin: auto;
}


#icon-space {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.icon {
  background-image: url(https://trello-attachments.s3.amazonaws.com/5ceb8c5d12d1522c0ef32fcb/40x40/c7137fc299d108e8892f630d402d92d2/icon-for-six-side.gif);
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
  position: absolute;
  z-index: 2; 
}

.space {
  position: relative;
  transform-style: preserve-3d;
  transform-origin: center center;
  transition-property: transform;
  margin: auto;
}

.transition {
 
}

.box {
  transform-style: preserve-3d;
  backface-visibility: hidden;
  position: absolute;
}

.box img{
  object-fit: contain;
  background-color:black;
  user-select: none;
}

.box1 {
}

.box2 {
   transform-origin: left top;
}

.box3 { 
}

.box4 {
  transform-origin: right top;
}

.box5 {
  transform-origin: bottom center;
}

.box6 {
  transform-origin: top center;
}

